html{
    scroll-behavior: smooth;
  }


  .logo{
    height:30px;
    width:40px;
    margin:auto;
   }
   .logo img{
       width:100%;
       height: 100%;
   }
   .site-logo a {
           color: rgb(34, 31, 31);
           font-family: 'myfont';
           font-size: 90px; 
           float: right;
           margin-top:40px;
           margin-bottom: 40px;
         }
           @media (max-width: 991.98px) {
             .site-logo a {
               font-size: 40px; } }
  /*.logo{
    height:30px;
    width:40px;
    margin:auto;
   }
   .logo img{
       width:100%;
       height: 100%;
   }
   .site-logo a {
           color: rgb(34, 31, 31);
           font-family: 'myfont';
           font-size: 90px; 
           float: right;
           margin-top:40px;
           margin-bottom: 40px;
         }
           @media (max-width: 991.98px) {
             .site-logo a {
               font-size: 40px; } }           

  .footersection logo{
    text-align: center;
    border-image-width: 20px;
  }*/
  
  
  .deselogo{
    height:30px;
    width:40px;
    margin:auto;
   }
   .deselogo img{
       width:100%;
       height: 100%;
   }
   .site-deselogo a {
           color: rgb(34, 31, 31);
           font-family: 'myfont';
           font-size: 90px; 
           float: right;
           margin-top:40px;
           margin-bottom: 40px;
         }
           @media (max-width: 991.98px) {
             .site-logo a {
               font-size: 40px; } }
  .deselogo{
    height:30px;
    width:40px;
    margin:auto;
   }
   .deselogo img{
       width:100%;
       height: 100%;
   }
   .site-deselogo a {
           color: rgb(34, 31, 31);
           font-family: 'myfont';
           font-size: 90px; 
           float: right;
           margin-top:40px;
           margin-bottom: 40px;
         }
           @media (max-width: 991.98px) {
             .site-logo a {
               font-size: 40px; } }           

  .footersection deselogo{
    text-align: center;
    border-image-width: 20px;
  }
  


  
  *{ margin:0; padding: 0; box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;}
  
  a{text-decoration:none;}
  
  a:hover{
  text-decoration: none;
  }
  
  li{list-style: none;}
  
  p{
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
  }
  .extradiv h2, .servicediv h2{
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
  }
 
  
  i{
    color: #2fccd0;
  }
    

  *{ margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'josefin Sans', sans-serif;}
    
    .carousel-inner img {
        width: 100%;
        height: 80vh;
      }
    
      .aboutimg{
          width: 100%;
          height: 395px!important;
      }
  
 
  
  .aman{
    width: 100;
    height: auto;
    text-emphasis-color: #000;
    background: pink;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .aman1{
    width: 100%!important;
    height: 40%!important;
    background: lightblue;
    /*background-image: url("images/bg_1.jpg");*/
    padding: 20px;
  }
  
  
  
  .header{
  width: 100;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0 ;
  /*background-image: url(images/bg_1.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-inline-start: 0%;
  }
  
  .header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right:0%;
    opacity: .4%;
    z-index: -1;
    /*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #15c9f6 100%,);*/
  }
  .navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right:0%;
    opacity: .4%;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #15c9f6 100%);
  }
  .nav-item a{
    color: #fff!important;
    font-weight: bold;
  }
  .header-section{
    width: 100;
    height: initial;
    color: white;
    text-align: center;
    position: relative;
    
  }
  .header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  .header-buttons a:hover{
    color: black;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }

  .header .header-section{
    margin-top: 0px;
    font-size: 1.3rem;
    padding: 100px 0 20px 0;
    color:white;
  }

  
 

  .center.div p{
   margin-top: 100px;
   font-size: 1.3rem;
   padding: 10px 0 20px 0;
   color:white;
  }
  
  
  .header-extradiv{
   width:100%;
   height: auto;
   margin: 100px 0;
   text-align: center;
  }
  
  .extradiv{
   background: #fff;
   border: medium none;
   padding: 50px!important;
   border-radius: 3px;
   transition: 0.3s;
  }
  
  .extradiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
  }
  
  
  
  .serviceoffers{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
  }
  
  .heading{
    margin:50px;
  }
  
  .heading h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060;
  }
  
 
  
  .project-work{
    margin: 10px 0;
  
  
  }
  .project-work h1{
    font-size: 2rem;
    text-align: center;
  }
  
  
  
  .happyclients{
    padding: 40px 0 0 20px;
    margin: 30px;
  }




  
  
  .pricing{
    width: 100%;
    /*height: 100vh;*/
    height: auto;
    padding:50px 50px 50px 50px;
    position: relative;
  
  }
  
  .pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right:0%;
    
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
  }
  
  .money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
  }
  
  .card{
    transition: 0.4s ease;
  
  }
  
  .card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px !important;
  }
  
  .card-body{
    padding: 30px 0px !important;
  }
  
  .card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
  }
  
  .card-footer{
    background: #fff !important;
    padding: 30px 0px !important;
  }
  
  .card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  .card:hover .card-footer a{
    color:white;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  
  .card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  
  .card:hover .card-header, .card:hover .money{
    color: #50d1c0;
  }
  
  .card-second{
    transform: translateY(-20px);
    
  }
  
 
  
  .happyclients{
    width: 100%;
    /*height: 100vh;*/
    height: 120%;
    padding: auto;
    margin:40px;
  }
  
  .box{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: 0.3s ease;
    color: #1e5799;
  }
   .box:hover {
     color: purple;
   }
  
   .box:hover p{
    color: purple;
  }
  
  
  
  
   .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: -60px!important;
   }
  
   .carousel-indicators li{
     background-color: #15c9f6!important;
   }
  
   .box a{
     position: relative;
   }
  
   .box a img{
     width: 100px;
     height: 100%;
     /*border-radius: 50%;*/
     /*margin-top: 5px;*/
   }
  
  
  
  
  /*.box a:after {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 30px;
    left: 80px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%,  #16c9f6 100%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  
  .box h1{
    font-size: 13px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
  }
  
  .box h2{
    font-size: 13px;
    font-weight: 400px;
    color:#666666;
    margin-bottom: 20px;
  }
 
  
  .contactus{
    width: 100%;
    height: 100vh;
    padding: 0px 0;
    position: relative;
  }
  
  .contactus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0);
    z-index: -1;
  }
  
  .form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 10px 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  
  .form-button button:hover{
    color: #50d1c0;
  }
  
  .form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
  
  ::placeholder{
    font-size: 0.85rem;
  }
  
  
  
  .newsletter{
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px;
  }
  
  .news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height: 45px;
  }
  
  .input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 160px;
    min-height: 40px;
  }
  
  
  
  
  
  .footersection{
    width: 100%;
    height: auto;
    padding: 70px 0  20px 0;
    background: #00abff;
    position: relative;
  }
  
  .footersection p{
    color: #fff;
  }
  
  .footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
  }
  
  .footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  
    
  
  
  #myBtn{
    display: none;
    position: fixed;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 20px;
  }
  
  #myBtn{
    background: #606060;
  
  }
  
  

  
  @media(max-width: 768px) {
    .nav-item{
      text-align: center!important;
    }
    .pricing, .happyclients{
      height: auto;
      margin-top: 50px;
    }
    .card-second{
      transform: translateY(opx);
      margin: 30px 0;
    }
    .footer-div:nth-child(2){
      text-align: left!important;
    }
    .footer-div{
      margin:30px 0;  
    }
  }
  




  .ourservices{
    width: 100%;
    height: auto;
    padding: 80px 0px;

  }
  
  .box1{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: 0.3s ease;
    color: #1e5799;
  }
   .box1:hover {
     color: purple;
   }
  
   .box1:hover p{
    color: purple;
  }
  
  
  
  
   .carousel-indicators {
     position: absolute;
     right: 0;
     bottom: -60px!important;
   }
  
  
   
  
   .box1 a{
     position: relative;
   }
  
   .box1 a img{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-top: 20px;
   }
  
   
  
  
  
  
  .box1 h1{
    font-size: 13px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
  }
  
  .box1 h2{
    font-size: 13px;
    font-weight: 400px;
    color:#666666;
    margin-bottom: 20px;
  }










  